@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
  --color-primary: #5791F8;
  --color-light-theme: #e4e9ed;
  --color-dark-theme: #191C23;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Fira Sans',
  sans-serif;
  color: var(--color-dark-theme);
}



.bg-image {
  background-image: url('assets/images/background.png');
  height: 100%;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
}

